html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to right, #bbd2c5, #536976);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 400px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

button {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
  min-height: 50px;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
}

button:hover {
  filter: brightness(90%);
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

button:focus {
  outline: none;
}

.operator {
  font-size: 30px;
}

.calculator-display {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px 10px 0px 0px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: "Lucida Console", sans-serif;
  font-weight: 100;
  overflow-x: auto;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.equal-sign {
  grid-column: -2;
  grid-row: 2 / span 4;
}

/* Mobile */

@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
}
